@media screen and (min-width: 1240px) {
	.container{
		width: 85%;
		max-width: 1240px;
	}

	/* HEADER & NAV */

	.main_header{
		height: 136vh;
	}
	.container_header{
		justify-content: space-around;
		padding-top: 90px;
	}

	.title_header{
		padding-top: 115px;
		width: 55%;
	}

	.title_header h1{
		font-size: 3.7em;
		line-height: 70px;
	}

	.title_header p{
		font-size: 1.2em;
	}

	.imagem_header{
		width: 40%;
	}

	/* SAVE TIME */

	.savetime{
		padding: 150px 0;
	}

	.savetimeitens .text_save h1{
		width: 100%;
		font-size: 2.8em;
		width: 40%;
		margin:  0 auto;
		margin-bottom: 60px;
	}
	
	/* APP PEOPLE */

	.cont_app{
		margin-top: 0px;
	}

	.cont{
		width: 40%;
	}


	/* SING */

	.Sign_itens{
		width: 33%;
		padding: 30px;

	}

}