/* RESET */
*{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;

}


.container{
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
}

/* HEADER & NAV */

.main_header{
	width: 100%;
	height: 125vh;
	background-image: url('../img/banner/banner.png');
	background-position: center;
	background-size: cover;
}

.nav-bar{
	width: 100%;
	height: 60px;
	background-color: #212529;
	padding: 10px 20px;
	display: flex;
}

.logo{
	width: 50%;
}
.menu-lista{
	display: none;
}
.hamb{
	width: 50%;
	display: flex;
	justify-content:flex-end
}

.hamb img{
	width: 40px; 
}

.btn-top{
	display: none;
}


.title_header{
	padding-top: 50px;
}

.title_header h1{
	color: #FFF;
	font-size: 1.9em;
	font-weight: 300;
	margin-bottom: 20px;
	line-height: 30px;
}

.title_header p{
	color: #FFF;
	font-size: 0.95em;
	font-weight: 500;
	margin-bottom: 50px;
}

.btn{
	color: #FFF;
	background-color: #37EBED;
	font-size: 1em;
	font-weight: 500;
	padding: 15px 25px;
	border: none;
	border-radius: 5px;
	letter-spacing: 2px;
	margin-bottom: 15px;
}

.imagem_header{
	width: 100%;
	padding-top: 30px;
}
.imagem_header img{
	width: 100%;
}

/* SAVE TIME */

.savetime{
	width: 100%;
	padding-top: 100px;
}

.savetimeitens .text_save{
	text-align: center;
	padding: 0 20px;
}

.savetimeitens .text_save h1{
	font-size: 1.9em;
	font-weight: 300;
}

.article_itens{
	width: 100%;
	padding: 30px 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.article_itens span{
	padding: 25px 30px;
	max-height: 110px;
	border-radius: 15px;
	margin-bottom: 30px;
}

.blue{
	background-image: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
}


.orange{
	background-image:linear-gradient(to right, #fdae5c 0%, #fd8e5e 100%);
}
.green{
	background-image: linear-gradient(to right, #37ef8d 0%, #37ef8d 100%);
}

.article_itens h3{
	font-size: 1.6em;
	font-weight: 300;

}


/* APP PEOPLE */

.phone{
	width: 110%;
	margin-bottom: 50px;
}

.cont img{
	width: 100%;
}

.cont_app{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}


/* SING */

.cont_sing{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #CACACA;
	margin-bottom: 50px;
}

.Sign_itens{
	width: 100%;

}

.Sign_itens span{
	color: #0181f5;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.Sign_itens h2{
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 20px;
}

.Sign_itens p{
	color: #727272;
	font-size: 1em;
	margin-bottom: 40px;
}

/* Feacture */


.cont_feacture{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.feact_text{
	width: 100%;
	margin-bottom: 20px;
}

.feact_text h1{
	font-weight: 300;
	font-size: 1.82em;
	line-height: 40px;
	margin-bottom: 20px; 
}

.feact_text p{
	color: #797979;
	line-height: 30px;
	margin-bottom: 20px; 
}

 .btn_feact{
	padding: 14px 27px;
	font-size: 1em;
	letter-spacing: 3px;
	color: #FFF;
	border-radius: 5px;
	background-color: #0181f5;
	margin-bottom: 20px; 
	border: none;
}

.feact_image{
	width: 100%;
}

.feact_image img{
	width: 100%;
}

/* EASY */

.easy{
	width: 100%;
	padding: 60px 0;
}

.cont_easy{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.easy_img, .easy_text {
	width: 100%;
}

.easy_img img{
	width: 100%;
	margin-bottom: 30px;
}

.easy_text h1{
	font-weight: 300;
	font-size: 1.82em;
	line-height: 40px;
	margin-bottom: 20px; 
}

.easy_text p{
	color: #797979;
	line-height: 30px;
	margin-bottom: 20px; 
	width: 280px;
}

.easy_text ul{
	color: #595959;
	width: 100%;
	margin-bottom: 20px;
}

.easy_text ul li{
	display: flex;
	align-items: center;
	padding:10px 0; 
	width: 290px;
	position: relative;
	padding-left: 25px;
}

.easy_text ul li::before{
	content: "";
	display: block;
	background-image: url('../img/ilstrator_img/check.svg');
	background-repeat: no-repeat;
	background-size: cover; 
	width: 16px;
	height: 16px;
	margin-right: 15px;
	position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}