@media screen and (min-width: 768px){
	.main_header{
		height: 78vh;
		background-position: center ; 
		background-size: 100% 100%;
		background-repeat: no-repeat; 

	}

	.container_header{
		display: flex;
		padding-top: 75px;
	}
	.title_header{
		width: 50%;
	}

	.title_header h1{
		font-size: 2.1em;
		line-height: 40px;
	}

	.title_header p{
		font-size: 1.2em;
	}

	.imagem_header{
		width: 50%;
	}
}